.App {
  text-align: center;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.main-box{
  border: 2px solid black;
  width: 80%;
  padding: 1em 2em 1em 2em;
}
.mock-link{
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}